# Loading data

In [266]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [267]:
# Loading meso data
data_meso_borglum = pd.read_csv("./data/Borglum/meso_Borglum.csv")
data_meso_risoe= pd.read_csv("./data/Risoe/meso_Risoe.csv")

In [268]:
# Loading mast data
import xarray as xr

ds_borglum = xr.open_dataset('data/Borglum/borglum_all.nc')
data_mast_borglum = ds_borglum.to_dataframe()

ds_risoe = xr.open_dataset('data/Risoe/risoe_m_all.nc')
data_mast_risoe = ds_risoe.to_dataframe()

In [269]:
data_mast_borglum.head()

,ws32,ws32_qc,ws20,ws20_qc,ws10,ws10_qc,wd10,wd10_qc,wd32,wd32_qc,...,td10_2,td10_2_qc,td30_10,td30_10_qc,rhum,rhum_qc,grad,grad_qc,press,press_qc
time,,,,,,,,,,,,,,,,,,,,,
1997-12-11 16:05:00,6.95,0.0,6.43,0.0,5.66,0.0,267.0,0.0,NaN,NaN,...,-0.13,0,-0.21,0,98.0,0.0,15.0,0,992.23,0.0
1997-12-11 16:15:00,7.19,0.0,6.60,0.0,5.89,0.0,275.0,0.0,NaN,NaN,...,-0.08,0,-0.26,0,98.0,0.0,15.0,0,992.27,0.0
1997-12-11 16:25:00,7.22,0.0,6.73,0.0,6.10,0.0,277.0,0.0,NaN,NaN,...,-0.08,0,-0.26,0,98.0,0.0,15.0,0,992.25,0.0
1997-12-11 16:35:00,7.69,0.0,7.10,0.0,6.47,0.0,284.0,0.0,NaN,NaN,...,-0.04,0,-0.21,0,98.0,0.0,15.0,0,992.16,0.0
1997-12-11 16:45:00,7.35,0.0,6.90,0.0,6.30,0.0,292.0,0.0,NaN,NaN,...,-0.04,0,-0.21,0,98.0,0.0,19.0,0,992.13,0.0

In [270]:
data_mast_risoe.head()

,ws44,ws44_qc,ws77,ws77_qc,ws125,ws125_qc,wd77,wd77_qc,wd125,wd125_qc,...,td01,td01_qc,rain,rain_qc,press,press_qc,rhum,rhum_qc,grad,grad_qc
time,,,,,,,,,,,,,,,,,,,,,
1995-11-20 16:25:00,NaN,NaN,3.36,0.0,3.04,0.0,205.0,0.0,208.0,0.0,...,75.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1995-11-20 16:35:00,NaN,NaN,3.05,0.0,3.17,0.0,205.0,0.0,214.0,0.0,...,74.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1995-11-20 16:45:00,NaN,NaN,3.59,0.0,3.64,0.0,204.0,0.0,209.0,0.0,...,74.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1995-11-20 16:55:00,NaN,NaN,3.87,0.0,3.77,0.0,202.0,0.0,209.0,0.0,...,74.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1995-11-20 17:05:00,NaN,NaN,4.74,0.0,4.28,0.0,201.0,0.0,212.0,0.0,...,75.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [271]:
data_meso_borglum.head()

,TIMESTAMP,HGT,RHO060,RHO080,RHO100,RHO120,RHO140,RHO160,RHO180,RHO200,...,TKE_PBL220,RH060,RH080,RH100,RH120,RH140,RH160,RH180,RH200,RH220
0,2000-01-01 07:00:00,8.72,1.267941,1.265627,1.263293,1.260943,1.258573,1.256188,1.253774,1.251317,...,0.6,97.07,97.79,98.44,99.04,99.57,100.05,100.42,100.64,100.83
1,2000-01-01 08:00:00,8.72,1.266489,1.264177,1.261858,1.259532,1.257142,1.254695,1.252175,1.249541,...,0.6,97.40,98.15,98.87,99.57,100.12,100.55,100.80,100.78,100.77
2,2000-01-01 09:00:00,8.72,1.264561,1.262276,1.260020,1.257788,1.255361,1.252764,1.250124,1.247415,...,0.6,97.45,98.33,99.25,100.20,100.69,100.77,100.82,100.83,100.84
3,2000-01-01 10:00:00,8.72,1.260913,1.258535,1.255968,1.253240,1.250227,1.246968,1.243668,1.240305,...,0.5,98.62,99.55,100.21,100.65,100.86,100.86,100.86,100.86,100.86
4,2000-01-01 11:00:00,8.72,1.252437,1.249948,1.247507,1.245107,1.242703,1.240296,1.237870,1.235415,...,0.5,91.79,91.84,91.90,91.97,91.95,91.87,91.67,91.31,90.92

In [272]:
data_meso_borglum.columns

Index(['TIMESTAMP', 'HGT', 'RHO060', 'RHO080', 'RHO100', 'RHO120', 'RHO140',
       'RHO160', 'RHO180', 'RHO200', 'RHO220', 'TC060', 'TC080', 'TC100',
       'TC120', 'TC140', 'TC160', 'TC180', 'TC200', 'TC220', 'WSP060',
       'WSP080', 'WSP100', 'WSP120', 'WSP140', 'WSP160', 'WSP180', 'WSP200',
       'WSP220', 'WDIR060', 'WDIR080', 'WDIR100', 'WDIR120', 'WDIR140',
       'WDIR160', 'WDIR180', 'WDIR200', 'WDIR220', 'PRS060', 'PRS080',
       'PRS100', 'PRS120', 'PRS140', 'PRS160', 'PRS180', 'PRS200', 'PRS220',
       'TK060', 'TK080', 'TK100', 'TK120', 'TK140', 'TK160', 'TK180', 'TK200',
       'TK220', 'TKE_PBL060', 'TKE_PBL080', 'TKE_PBL100', 'TKE_PBL120',
       'TKE_PBL140', 'TKE_PBL160', 'TKE_PBL180', 'TKE_PBL200', 'TKE_PBL220',
       'RH060', 'RH080', 'RH100', 'RH120', 'RH140', 'RH160', 'RH180', 'RH200',
       'RH220'],
      dtype='object')

In [273]:
data_meso_borglum["HGT"].value_counts()

8.720000    142368
8.720343     62352
Name: HGT, dtype: int64

In [274]:
data_meso_risoe.head()

,TIMESTAMP,HGT,RHO060,RHO080,RHO100,RHO120,RHO140,RHO160,RHO180,RHO200,...,TKE_PBL220,RH060,RH080,RH100,RH120,RH140,RH160,RH180,RH200,RH220
0,2001-06-10 15:00:00,7.77,1.234208,1.232239,1.230234,1.228201,1.226122,1.224005,1.221824,1.219543,...,0.1,69.34,69.59,69.78,69.91,69.88,69.70,69.36,68.77,68.25
1,2001-06-10 16:00:00,7.77,1.230668,1.228701,1.226703,1.224679,1.222648,1.220613,1.218572,1.216524,...,0.2,63.85,64.41,64.98,65.55,66.13,66.71,67.30,67.89,68.49
2,2001-06-10 17:00:00,7.77,1.230054,1.228041,1.226011,1.223966,1.221926,1.219891,1.217852,1.215805,...,0.1,63.23,63.78,64.35,64.95,65.57,66.21,66.84,67.49,68.13
3,2001-06-10 18:00:00,7.77,1.229966,1.227930,1.225889,1.223844,1.221794,1.219739,1.217687,1.215639,...,0.1,64.66,65.03,65.48,66.01,66.55,67.12,67.70,68.31,68.93
4,2001-06-10 19:00:00,7.77,1.233801,1.231368,1.228940,1.226516,1.224150,1.221833,1.219564,1.217368,...,0.1,65.39,64.26,63.19,62.19,61.58,61.29,61.45,62.27,63.14

# Preprocessing

In [275]:
# Missing data for meso time series - borglum
from pandas.io.formats.info import DataFrameInfo
row_count_borglum, col_count_risoe = data_meso_borglum.shape
info_meso_borglum = DataFrameInfo(data = data_meso_borglum)
info_df_meso_borglum= pd.DataFrame(
    {'Non-Null Count': info_meso_borglum.non_null_counts, 'Dtype': info_meso_borglum.dtypes}
)

# Calculating missing data per column. 
info_df_meso_borglum['Missing Count'] = row_count_borglum- info_df_meso_borglum['Non-Null Count']
info_df_meso_borglum['Missing Ratio'] = (info_df_meso_borglum['Missing Count'] / row_count_borglum).astype(float)
# Sorting missing data from highest % to lowest %
info_df_meso_borglum.sort_values(by=['Non-Null Count'], ascending=True)

           Non-Null Count    Dtype  Missing Count  Missing Ratio
TIMESTAMP          204720   object              0            0.0
TK160              204720  float64              0            0.0
TK140              204720  float64              0            0.0
TK120              204720  float64              0            0.0
TK100              204720  float64              0            0.0
...                   ...      ...            ...            ...
WSP100             204720  float64              0            0.0
WSP080             204720  float64              0            0.0
WSP060             204720  float64              0            0.0
TC200              204720  float64              0            0.0
RH220              204720  float64              0            0.0

[74 rows x 4 columns]

In [276]:
# Missing data for meso time series - risoe
row_count_meso_risoe, col_count_meso_risoe = data_meso_risoe.shape
info_meso_risoe = DataFrameInfo(data = data_meso_risoe)
info_df_meso_risoe = pd.DataFrame(
    {'Non-Null Count': info_meso_risoe.non_null_counts, 'Dtype': info_meso_risoe.dtypes}
)

# Calculating missing data per column. 
info_df_meso_risoe['Missing Count'] = row_count_meso_risoe- info_df_meso_risoe['Non-Null Count']
info_df_meso_risoe['Missing Ratio'] = (info_df_meso_risoe['Missing Count'] / row_count_meso_risoe).astype(float)
# Sorting missing data from highest % to lowest %
info_df_meso_risoe.sort_values(by=['Non-Null Count'], ascending=True)

           Non-Null Count    Dtype  Missing Count  Missing Ratio
TIMESTAMP          204288   object              0            0.0
TK160              204288  float64              0            0.0
TK140              204288  float64              0            0.0
TK120              204288  float64              0            0.0
TK100              204288  float64              0            0.0
...                   ...      ...            ...            ...
WSP100             204288  float64              0            0.0
WSP080             204288  float64              0            0.0
WSP060             204288  float64              0            0.0
TC200              204288  float64              0            0.0
RH220              204288  float64              0            0.0

[74 rows x 4 columns]

In [277]:
# Missing data for mast data - borglum
row_count_mast_borglum, col_count_mast_borglum = data_mast_borglum.shape
info_mast_borglum = DataFrameInfo(data = data_mast_borglum)
info_df_mast_borglum = pd.DataFrame(
    {'Non-Null Count': info_mast_borglum.non_null_counts, 'Dtype': info_mast_borglum.dtypes}
)

# Calculating missing data per column. 
info_df_mast_borglum['Missing Count'] = row_count_mast_borglum - info_df_mast_borglum['Non-Null Count']
info_df_mast_borglum['Missing Ratio'] = (info_df_mast_borglum['Missing Count'] / row_count_mast_borglum).astype(float)
# Sorting missing data from highest % to lowest %
info_df_mast_borglum.sort_values(by=['Non-Null Count'], ascending=True)

            Non-Null Count    Dtype  Missing Count  Missing Ratio
ws20                198670  float64          13609       0.064109
ws20_qc             198670  float64          13609       0.064109
wd32_qc             204907  float64           7372       0.034728
wd32                204907  float64           7372       0.034728
press_qc            205453  float64           6826       0.032156
press               205453  float64           6826       0.032156
ws10                206247  float64           6032       0.028415
ws10_qc             206247  float64           6032       0.028415
ws32                211046  float64           1233       0.005808
ws32_qc             211046  float64           1233       0.005808
wd10                212270  float64              9       0.000042
wd10_qc             212270  float64              9       0.000042
rhum                212276  float64              3       0.000014
rhum_qc             212276  float64              3       0.000014
t002                212279  float64              0       0.000000
t30                 212279  float64              0       0.000000
t30_qc              212279    int16              0       0.000000
td10_2              212279  float64              0       0.000000
td10_2_qc           212279    int16              0       0.000000
td30_10             212279  float64              0       0.000000
td30_10_qc          212279    int16              0       0.000000
grad                212279  float64              0       0.000000
grad_qc             212279    int16              0       0.000000
t002_qc             212279    int16              0       0.000000

In [278]:
#  Missing data for mast data - risoe
row_count_mast_risoe, col_count_mast_risoe = data_mast_risoe.shape
info_mast_risoe = DataFrameInfo(data = data_mast_risoe)
info_df_mast_risoe = pd.DataFrame(
    {'Non-Null Count': info_mast_risoe.non_null_counts, 'Dtype': info_mast_risoe.dtypes}
)

# Calculating missing data per column. 
info_df_mast_risoe['Missing Count'] = row_count_mast_risoe - info_df_mast_risoe['Non-Null Count']
info_df_mast_risoe['Missing Ratio'] = (info_df_mast_risoe['Missing Count'] / row_count_mast_risoe).astype(float)
# Sorting missing data from highest % to lowest %
info_df_mast_risoe.sort_values(by=['Non-Null Count'], ascending=True)

          Non-Null Count    Dtype  Missing Count  Missing Ratio
grad_qc           309395  float64         318964       0.507614
grad              309395  float64         318964       0.507614
press_qc          363457  float64         264902       0.421577
press             363457  float64         264902       0.421577
rhum_qc           365546  float64         262813       0.418253
rhum              365546  float64         262813       0.418253
t118_qc           367143  float64         261216       0.415711
t118              367143  float64         261216       0.415711
ws44              480818  float64         147541       0.234804
ws44_qc           480818  float64         147541       0.234804
ws125             541705  float64          86654       0.137905
ws125_qc          541705  float64          86654       0.137905
wd125_qc          558830  float64          69529       0.110652
wd125             558830  float64          69529       0.110652
t044              603119  float64          25240       0.040168
t044_qc           603119  float64          25240       0.040168
td01              604435  float64          23924       0.038074
td01_qc           604435  float64          23924       0.038074
ws77_qc           621607  float64           6752       0.010745
ws77              621607  float64           6752       0.010745
wd77_qc           627811  float64            548       0.000872
wd77              627811  float64            548       0.000872
t003_qc           628126  float64            233       0.000371
t003              628126  float64            233       0.000371
rain              628353  float64              6       0.000010
rain_qc           628353  float64              6       0.000010

In [279]:
# Removing all features not related to wind speed or wind direction
data_meso_risoe = data_meso_risoe[['TIMESTAMP', 'WSP060',
       'WSP080', 'WSP100', 'WSP120', 'WSP140', 'WSP160', 'WSP180', 'WSP200',
       'WSP220', 'WDIR060', 'WDIR080', 'WDIR100', 'WDIR120', 'WDIR140',
       'WDIR160', 'WDIR180', 'WDIR200', 'WDIR220'
       ]]
data_meso_borglum = data_meso_borglum[['TIMESTAMP',
       'WSP060',
       'WSP080', 'WSP100', 'WSP120', 'WSP140', 'WSP160', 'WSP180', 'WSP200',
       'WSP220', 'WDIR060', 'WDIR080', 'WDIR100', 'WDIR120', 'WDIR140',
       'WDIR160', 'WDIR180', 'WDIR200', 'WDIR220']]


data_mast_risoe = data_mast_risoe[['ws44', 'ws44_qc', 'ws77', 'ws77_qc', 'ws125', 'ws125_qc', 'wd77',
       'wd77_qc', 'wd125', 'wd125_qc']]
data_mast_borglum = data_mast_borglum[['ws32', 'ws32_qc', 'ws20', 'ws20_qc', 'ws10', 'ws10_qc', 'wd10',
       'wd10_qc', 'wd32', 'wd32_qc' 
       ]]

In [280]:
# Converting meso timestamp columns to datetime
data_meso_borglum["TIMESTAMP"] = pd.to_datetime(data_meso_borglum["TIMESTAMP"])
data_meso_risoe["TIMESTAMP"] = pd.to_datetime(data_meso_risoe["TIMESTAMP"])

C:\Users\Bruger\AppData\Local\Temp\ipykernel_18840\3595355034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_meso_borglum["TIMESTAMP"] = pd.to_datetime(data_meso_borglum["TIMESTAMP"])
C:\Users\Bruger\AppData\Local\Temp\ipykernel_18840\3595355034.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_meso_risoe["TIMESTAMP"] = pd.to_datetime(data_meso_risoe["TIMESTAMP"])

In [281]:
# Removing any rows with negative value

for col in data_meso_risoe.drop("TIMESTAMP", axis=1, inplace=False).columns.values:
    data_meso_risoe = data_meso_risoe[data_meso_risoe[col] >= 0]

for col in data_meso_borglum.drop("TIMESTAMP",axis=1, inplace=False).columns.values:
    data_meso_borglum = data_meso_borglum[data_meso_borglum[col] >= 0]

for col in data_mast_risoe.columns.values:
    data_mast_riose = data_mast_risoe[data_mast_risoe[col] >= 0]

for col in data_mast_borglum.columns.values:
    data_mast_borglum= data_mast_borglum[data_mast_borglum[col] >= 0]

In [282]:
# Ensuring all dirtections are between 0 and 360 degrees
meso_risoe_dir_cols = ['WDIR060', 'WDIR080', 'WDIR100', 'WDIR120', 'WDIR140',
       'WDIR160', 'WDIR180', 'WDIR200', 'WDIR220']

meso_borglum_dir_cols = ['WDIR060', 'WDIR080', 'WDIR100', 'WDIR120', 'WDIR140',
       'WDIR160', 'WDIR180', 'WDIR200', 'WDIR220']

mast_risoe_dir_cols = ['wd77',
       'wd77_qc', 'wd125', 'wd125_qc']

mast_borglum_dir_cols = ['wd10',
       'wd10_qc', 'wd32', 'wd32_qc' 
]


for col in meso_risoe_dir_cols:
    data_meso_risoe[col] = data_meso_risoe[col].apply(lambda x: x % 360)

for col in meso_borglum_dir_cols:
    data_meso_borglum[col] = data_meso_borglum[col].apply(lambda x: x % 360)

for col in mast_risoe_dir_cols:
    data_mast_risoe[col] = data_mast_risoe[col].apply(lambda x: x % 360)

for col in mast_borglum_dir_cols:
    data_mast_borglum[col] = data_mast_borglum[col].apply(lambda x: x % 360)

C:\Users\Bruger\AppData\Local\Temp\ipykernel_18840\1420191286.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_mast_risoe[col] = data_mast_risoe[col].apply(lambda x: x % 360)

In [283]:
import json
mast_risoe_years = data_mast_riose.index.map(lambda x: x.year).unique()
mast_risoe_speed_columns = list(filter(lambda x: "ws" in x and "qc" not in x, data_mast_risoe.columns.values))
mast_risoe_years

# # TODO: REVISIT THIS. FOR NOW WE GO WITH WS77 FOR RISOE AND WS32 FOR BORGLUM

# mapping = {}

# for feature in mast_risoe_speed_columns:
#     if feature not in mapping:
#         mapping[feature] = {}

#     for year in mast_risoe_years.values:
#         rows_in_year = data_mast_risoe.loc[f'{year}']
#         if year not in mapping[feature]:
#             mapping[feature][year] = pd.DataFrame()

#         months_in_year = rows_in_year.index.map(lambda x: x.month).unique()

#         for month in months_in_year.values:
#             rows_in_year_and_month = data_mast_riose.loc[f'{year}-{month}']
#             mapping[feature][year][month] = pd.Series(rows_in_year_and_month[feature].count())

#         data = mapping[feature][year]
#         months  =  data.columns.values
#         counts = data.iloc[0].values
#         fig,ax = plt.subplots()

#         ax.bar(months, counts)
#         ax.set_title(f"{year} - {feature}")
#         ax.set_ylabel(f'{feature} count')
#         ax.set_xlabel('Month')
#         plt.show()

Int64Index([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
            2006, 2007],
           dtype='int64', name='time')

In [284]:
# We chose the meso-signals closest in height to the mast-data-signal for risoe, 
#since the data sets are close in altitude.
# For risoe we chose ws77, so we choose WSP080 from the meso data set.
mast_signals_risoe = data_mast_risoe["ws77"]
meso_signals_risoe = data_meso_risoe["WSP060"]

For borglum we will do an interpolation on the meso data set between WSP060 and WSP077, since the heights differ signifantly in our opinion.

In [285]:
data_mast_borglum.loc['2000-01-01']

,ws32,ws32_qc,ws20,ws20_qc,ws10,ws10_qc,wd10,wd10_qc,wd32,wd32_qc
time,,,,,,,,,,
2000-01-01 00:05:00,7.68,0.0,7.14,0.0,6.23,0.0,189.0,0.0,188.0,0.0
2000-01-01 00:15:00,8.01,0.0,7.41,0.0,6.50,0.0,188.0,0.0,188.0,0.0
2000-01-01 00:25:00,7.25,0.0,6.71,0.0,5.97,0.0,187.0,0.0,186.0,0.0
2000-01-01 00:35:00,6.79,0.0,6.31,0.0,5.53,0.0,188.0,0.0,187.0,0.0
2000-01-01 00:45:00,7.32,0.0,6.81,0.0,6.00,0.0,190.0,0.0,189.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2000-01-01 23:15:00,3.91,0.0,3.60,0.0,3.03,0.0,227.0,0.0,231.0,0.0
2000-01-01 23:25:00,4.31,0.0,3.94,0.0,3.43,0.0,223.0,0.0,230.0,0.0
2000-01-01 23:35:00,4.34,0.0,3.90,0.0,3.40,0.0,219.0,0.0,234.0,0.0
2000-01-01 23:45:00,5.07,0.0,4.47,0.0,3.80,0.0,239.0,0.0,251.0,0.0
2000-01-01 23:55:00,5.80,0.0,5.27,0.0,4.43,0.0,246.0,0.0,250.0,0.0

In [286]:
data_meso_borglum.loc[data_meso_borglum['TIMESTAMP'] >= '2000-01-01']

,TIMESTAMP,WSP060,WSP080,WSP100,WSP120,WSP140,WSP160,WSP180,WSP200,WSP220,WDIR060,WDIR080,WDIR100,WDIR120,WDIR140,WDIR160,WDIR180,WDIR200,WDIR220
0,2000-01-01 07:00:00,9.12,9.67,10.17,10.63,11.09,11.55,12.00,12.45,12.89,193.41,194.42,195.49,196.61,197.86,199.19,200.58,202.12,203.56
1,2000-01-01 08:00:00,9.10,9.62,10.11,10.56,11.01,11.46,11.92,12.39,12.87,191.73,192.50,193.32,194.17,195.16,196.24,197.43,198.82,200.15
2,2000-01-01 09:00:00,9.13,9.64,10.05,10.37,10.77,11.24,11.71,12.18,12.65,206.20,206.94,207.60,208.19,209.12,210.27,211.53,213.00,214.41
3,2000-01-01 10:00:00,8.24,8.72,9.17,9.60,10.04,10.48,10.87,11.18,11.48,228.57,229.83,231.49,233.44,236.35,239.97,243.79,248.15,252.29
4,2000-01-01 11:00:00,9.78,10.65,11.40,12.05,12.64,13.18,13.70,14.19,14.67,290.79,291.49,292.18,292.87,293.61,294.38,295.20,296.10,296.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204715,2010-02-19 08:00:00,6.70,7.30,7.80,8.21,8.55,8.82,8.98,8.95,8.91,68.19,70.01,71.77,73.51,75.43,77.51,79.19,80.42,81.66
204716,2010-02-19 09:00:00,7.19,7.71,8.11,8.40,8.70,9.00,9.22,9.28,9.34,65.14,65.91,66.75,67.66,69.26,71.39,73.91,77.21,80.33
204717,2010-02-19 10:00:00,7.42,7.95,8.45,8.91,9.32,9.66,9.99,10.28,10.56,64.38,65.32,66.42,67.63,68.86,70.12,71.61,73.48,75.36
204718,2010-02-19 11:00:00,8.71,9.34,9.85,10.27,10.65,11.00,11.32,11.59,11.85,66.31,67.12,67.86,68.56,69.32,70.14,71.02,72.03,73.09
204719,2010-02-19 12:00:00,9.04,9.62,10.13,10.61,11.03,11.40,11.72,11.98,12.22,66.83,67.62,68.48,69.39,70.45,71.62,72.92,74.46,76.01

In [287]:

interpolation_borglum_df = data_meso_borglum.copy()
interpolation_borglum_df['WSP077'] = (((interpolation_borglum_df['WSP080']-interpolation_borglum_df['WSP060']) / 20) * 17) + interpolation_borglum_df['WSP060']
interpolation_borglum_df.head()

,TIMESTAMP,WSP060,WSP080,WSP100,WSP120,WSP140,WSP160,WSP180,WSP200,WSP220,WDIR060,WDIR080,WDIR100,WDIR120,WDIR140,WDIR160,WDIR180,WDIR200,WDIR220,WSP077
0,2000-01-01 07:00:00,9.12,9.67,10.17,10.63,11.09,11.55,12.00,12.45,12.89,193.41,194.42,195.49,196.61,197.86,199.19,200.58,202.12,203.56,9.5875
1,2000-01-01 08:00:00,9.10,9.62,10.11,10.56,11.01,11.46,11.92,12.39,12.87,191.73,192.50,193.32,194.17,195.16,196.24,197.43,198.82,200.15,9.5420
2,2000-01-01 09:00:00,9.13,9.64,10.05,10.37,10.77,11.24,11.71,12.18,12.65,206.20,206.94,207.60,208.19,209.12,210.27,211.53,213.00,214.41,9.5635
3,2000-01-01 10:00:00,8.24,8.72,9.17,9.60,10.04,10.48,10.87,11.18,11.48,228.57,229.83,231.49,233.44,236.35,239.97,243.79,248.15,252.29,8.6480
4,2000-01-01 11:00:00,9.78,10.65,11.40,12.05,12.64,13.18,13.70,14.19,14.67,290.79,291.49,292.18,292.87,293.61,294.38,295.20,296.10,296.97,10.5195

In [289]:
from datetime import datetime

# Convertin risoe mast data from danish time to UTC (accounting for summer time as well)
data_mast_risoe.index = data_mast_risoe.index.map(lambda x: x + pd.DateOffset(hours=-1) if x < datetime(year=x.year, month=3, day=26, hour=2) and x > datetime(year=x.year, month=10, day=29, hour=3) else x + pd.DateOffset(hours=-2)).tz_localize('UTC').tz_convert('Europe/Copenhagen')
data_mast_risoe.index

DatetimeIndex(['1995-11-20 15:25:00+01:00', '1995-11-20 15:35:00+01:00',
               '1995-11-20 15:45:00+01:00', '1995-11-20 15:55:00+01:00',
               '1995-11-20 16:05:00+01:00', '1995-11-20 16:15:00+01:00',
               '1995-11-20 16:25:00+01:00', '1995-11-20 16:35:00+01:00',
               '1995-11-20 16:45:00+01:00', '1995-11-20 16:55:00+01:00',
               ...
               '2007-12-31 21:26:00+01:00', '2007-12-31 21:36:00+01:00',
               '2007-12-31 21:46:00+01:00', '2007-12-31 21:56:00+01:00',
               '2007-12-31 22:06:00+01:00', '2007-12-31 22:16:00+01:00',
               '2007-12-31 22:26:00+01:00', '2007-12-31 22:36:00+01:00',
               '2007-12-31 22:46:00+01:00', '2007-12-31 22:56:00+01:00'],
              dtype='datetime64[ns, Europe/Copenhagen]', name='time', length=628359, freq=None)

In [290]:
data_mast_risoe.iloc[150000]

ws44         2.03
ws44_qc      0.00
ws77         2.45
ws77_qc      0.00
ws125        3.76
ws125_qc     0.00
wd77        78.00
wd77_qc      0.00
wd125       91.00
wd125_qc     0.00
Name: 1998-09-27 08:55:00+02:00, dtype: float64

In [291]:
# Convertin risoe mast data from danish time to UTC (accounting for summer time as well)
data_mast_borglum.index = data_mast_borglum.index.map(lambda x: x + pd.DateOffset(hours=-1) if x < datetime(year=x.year, month=3, day=26, hour=2) and x > datetime(year=x.year, month=10, day=29, hour=3) else x + pd.DateOffset(hours=-2)).tz_localize('UTC').tz_convert('Europe/Copenhagen')
data_mast_borglum.index

DatetimeIndex(['1998-01-13 13:45:00+01:00', '1998-01-13 13:55:00+01:00',
               '1998-01-13 14:05:00+01:00', '1998-01-13 14:15:00+01:00',
               '1998-01-13 14:25:00+01:00', '1998-01-13 14:35:00+01:00',
               '1998-01-13 14:45:00+01:00', '1998-01-13 14:55:00+01:00',
               '1998-01-13 15:05:00+01:00', '1998-01-13 15:15:00+01:00',
               ...
               '2001-12-31 21:25:00+01:00', '2001-12-31 21:35:00+01:00',
               '2001-12-31 21:45:00+01:00', '2001-12-31 21:55:00+01:00',
               '2001-12-31 22:05:00+01:00', '2001-12-31 22:15:00+01:00',
               '2001-12-31 22:25:00+01:00', '2001-12-31 22:35:00+01:00',
               '2001-12-31 22:45:00+01:00', '2001-12-31 22:55:00+01:00'],
              dtype='datetime64[ns, Europe/Copenhagen]', name='time', length=187975, freq=None)

In [292]:

data_mast_borglum.iloc[160_000]

ws32         5.14
ws32_qc      0.00
ws20         4.78
ws20_qc      0.00
ws10         4.28
ws10_qc      0.00
wd10       295.00
wd10_qc      0.00
wd32       292.00
wd32_qc      0.00
Name: 2001-05-21 19:15:00+02:00, dtype: float64

In [293]:
data_mast_risoe.tail(n=100)

,ws44,ws44_qc,ws77,ws77_qc,ws125,ws125_qc,wd77,wd77_qc,wd125,wd125_qc
time,,,,,,,,,,
2007-12-31 06:26:00+01:00,6.65,0.0,8.02,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 06:36:00+01:00,7.06,0.0,7.99,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 06:46:00+01:00,6.44,0.0,7.59,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 06:56:00+01:00,6.39,0.0,7.61,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 07:06:00+01:00,7.10,0.0,7.94,0.0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2007-12-31 22:16:00+01:00,6.11,0.0,6.04,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 22:26:00+01:00,7.08,0.0,6.97,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 22:36:00+01:00,8.39,0.0,8.17,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 22:46:00+01:00,6.79,0.0,6.66,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2007-12-31 22:56:00+01:00,6.74,0.0,6.72,0.0,NaN,NaN,0.0,0.0,0.0,0.0

In [294]:
data_mast_riose["wd77"].value_counts()

0.0      24025
271.0     2891
277.0     2888
270.0     2824
288.0     2789
         ...
37.0       400
44.0        26
42.0        15
38.0         5
43.0         1
Name: wd77, Length: 359, dtype: int64

In [295]:
## Resampling of wind speed and wind direction for Risoe mast data
from scipy.stats import circmean

# We use the circular mean instead of arithemtic mean to account for 
# the circular nature of the turbine direction. E.g. it could rotate from 5 deg -> 0 deg -> 355 deg

def circmean_aggregation(arr: np.array):
    return np.rad2deg(circmean(np.deg2rad(arr)))
    
dt_Copy = data_mast_riose.copy()
dt_Copy = dt_Copy.resample('1H').agg({'wd77': circmean_aggregation, 'ws77': lambda x: x.mean()})

data_mast_risoe_resampled = pd.DataFrame()
data_mast_risoe_resampled["ws77"] = dt_Copy["ws77"]
data_mast_risoe_resampled["wd77"] = dt_Copy["wd77"]

In [296]:
dt_Copy.copy()

In [ ]:
data_mast_risoe.loc["1995-12-9 21"]

,ws44,ws44_qc,ws77,ws77_qc,ws125,ws125_qc,wd77,wd77_qc,wd125,wd125_qc
time,,,,,,,,,,
1995-12-09 21:05:00+01:00,NaN,NaN,2.28,0.0,3.44,0.0,15.0,0.0,25.0,0.0
1995-12-09 21:15:00+01:00,NaN,NaN,1.80,0.0,3.24,0.0,15.0,0.0,30.0,0.0
1995-12-09 21:25:00+01:00,NaN,NaN,1.91,0.0,2.77,0.0,14.0,0.0,17.0,0.0
1995-12-09 21:35:00+01:00,NaN,NaN,2.31,0.0,3.34,0.0,350.0,0.0,349.0,0.0
1995-12-09 21:45:00+01:00,NaN,NaN,2.34,0.0,3.47,0.0,3.0,0.0,343.0,0.0
1995-12-09 21:55:00+01:00,NaN,NaN,2.89,0.0,4.04,0.0,353.0,0.0,348.0,0.0

In [ ]:
data_mast_riose.loc['1995-12-9 21']

,ws44,ws44_qc,ws77,ws77_qc,ws125,ws125_qc,wd77,wd77_qc,wd125,wd125_qc
time,,,,,,,,,,
1995-12-09 21:05:00,NaN,NaN,3.05,0.0,5.55,0.0,19.0,0.0,35.0,0.0
1995-12-09 21:15:00,NaN,NaN,2.61,0.0,5.05,0.0,25.0,0.0,34.0,0.0
1995-12-09 21:25:00,NaN,NaN,2.51,0.0,5.15,0.0,32.0,0.0,37.0,0.0
1995-12-09 21:35:00,NaN,NaN,3.46,0.0,5.45,0.0,18.0,0.0,34.0,0.0
1995-12-09 21:45:00,NaN,NaN,3.36,0.0,5.35,0.0,14.0,0.0,32.0,0.0
1995-12-09 21:55:00,NaN,NaN,2.72,0.0,4.58,0.0,21.0,0.0,33.0,0.0

In [ ]:
dt_Copy = data_mast_riose.copy().tz_localize('UTC')#.tz_convert('Europe/Copenhagen')
dt_Copy.loc['1995-12-9 21']

,ws44,ws44_qc,ws77,ws77_qc,ws125,ws125_qc,wd77,wd77_qc,wd125,wd125_qc
time,,,,,,,,,,
1995-12-09 21:05:00+00:00,NaN,NaN,3.05,0.0,5.55,0.0,19.0,0.0,35.0,0.0
1995-12-09 21:15:00+00:00,NaN,NaN,2.61,0.0,5.05,0.0,25.0,0.0,34.0,0.0
1995-12-09 21:25:00+00:00,NaN,NaN,2.51,0.0,5.15,0.0,32.0,0.0,37.0,0.0
1995-12-09 21:35:00+00:00,NaN,NaN,3.46,0.0,5.45,0.0,18.0,0.0,34.0,0.0
1995-12-09 21:45:00+00:00,NaN,NaN,3.36,0.0,5.35,0.0,14.0,0.0,32.0,0.0
1995-12-09 21:55:00+00:00,NaN,NaN,2.72,0.0,4.58,0.0,21.0,0.0,33.0,0.0

In [ ]:
# Finding first row where the direction changed significantly to check if the resampling on wind direction
# is reasonable.
data_mast_risoe_years = data_mast_risoe.index.map(lambda x: x.year).unique()
def get_first_significant_wind_dir_difference():
    for year in data_mast_risoe_years:
        data_mast_risoe_months_in_year = data_mast_risoe.loc[f"{year}"].index.map(lambda x: x.month).unique()
        for month in data_mast_risoe_months_in_year:
            data_mast_risoe_days_in_month = data_mast_risoe.loc[f"{year}-{month}"].index.map(lambda x: x.day).unique()
            for day in data_mast_risoe_days_in_month:
                data_mast_risoe_hours_in_day = data_mast_risoe.loc[f'{year}-{month}-{day}'].index.map(lambda x: x.hour).unique()
                for hour in data_mast_risoe_hours_in_day:
                    rows = data_mast_risoe.loc[f"{year}-{month}-{day} {str(hour).zfill(2)}"]
                    diff = abs(rows.iloc[0]["wd77"] - rows.iloc[-1]["wd77"])
                    if (diff > 160):
                        return f"{year}-{month}-{day} {hour}"

print(get_first_significant_wind_dir_difference())

1995-12-9 21

In [ ]:
# Example of a row where the turbine rotates to the left and crosses into 350 deg and then rotates to the right where it goes to 3 deg and then rotates left again to 353 deg.
# 14 deg -> 350 deg -> 3 deg -> 353 deg
data_mast_risoe.loc['1995-12-9 21']

,ws44,ws44_qc,ws77,ws77_qc,ws125,ws125_qc,wd77,wd77_qc,wd125,wd125_qc
time,,,,,,,,,,
1995-12-09 21:05:00+01:00,NaN,NaN,2.28,0.0,3.44,0.0,15.0,0.0,25.0,0.0
1995-12-09 21:15:00+01:00,NaN,NaN,1.80,0.0,3.24,0.0,15.0,0.0,30.0,0.0
1995-12-09 21:25:00+01:00,NaN,NaN,1.91,0.0,2.77,0.0,14.0,0.0,17.0,0.0
1995-12-09 21:35:00+01:00,NaN,NaN,2.31,0.0,3.34,0.0,350.0,0.0,349.0,0.0
1995-12-09 21:45:00+01:00,NaN,NaN,2.34,0.0,3.47,0.0,3.0,0.0,343.0,0.0
1995-12-09 21:55:00+01:00,NaN,NaN,2.89,0.0,4.04,0.0,353.0,0.0,348.0,0.0

In [ ]:
data_mast_riose.copy().loc['1995-12-9 22']

,ws44,ws44_qc,ws77,ws77_qc,ws125,ws125_qc,wd77,wd77_qc,wd125,wd125_qc
time,,,,,,,,,,
1995-12-09 22:05:00,NaN,NaN,2.28,0.0,3.44,0.0,15.0,0.0,25.0,0.0
1995-12-09 22:15:00,NaN,NaN,1.80,0.0,3.24,0.0,15.0,0.0,30.0,0.0
1995-12-09 22:25:00,NaN,NaN,1.91,0.0,2.77,0.0,14.0,0.0,17.0,0.0
1995-12-09 22:35:00,NaN,NaN,2.31,0.0,3.34,0.0,350.0,0.0,349.0,0.0
1995-12-09 22:45:00,NaN,NaN,2.34,0.0,3.47,0.0,3.0,0.0,343.0,0.0
1995-12-09 22:55:00,NaN,NaN,2.89,0.0,4.04,0.0,353.0,0.0,348.0,0.0

In [ ]:
print(f"Arithmetic wd77 mean: {data_mast_risoe.loc['1995-12-9 21']['wd77'].mean()}")

Arithmetic wd77 mean: 125.0

In [ ]:
dt_Copy.loc['1995-12-9 21']

wd77    21.49389
Name: 1995-12-09 21:00:00+00:00, dtype: float64

In [ ]:
print(f"Circular mean: {dt_Copy.loc['1995-12-9 21']['wd77']}")

Circular mean: 21.493890448588726

In [ ]:
data_mast_risoe_resampled['wd77'] = dt_Copy['wd77']

In [ ]:
# Resampled data set with frequency one 1 hour 
# ws77 is the mean of the wind speed within the hour.
# wd77 is the circular mean of the wind direction within the hour.
data_mast_risoe_resampled

                         ws77  wd77
time
1995-11-20 16:00:00  3.467500   NaN
1995-11-20 17:00:00  5.216667   NaN
1995-11-20 18:00:00  6.288333   NaN
1995-11-20 19:00:00  7.316667   NaN
1995-11-20 20:00:00  7.943333   NaN
...                       ...   ...
2007-12-31 19:00:00  6.366667   NaN
2007-12-31 20:00:00  8.723333   NaN
2007-12-31 21:00:00  8.430000   NaN
2007-12-31 22:00:00  8.136667   NaN
2007-12-31 23:00:00  6.966667   NaN

[106184 rows x 2 columns]

In [ ]:
def circmean_aggregation(arr: np.array):
    return np.rad2deg(circmean(np.deg2rad(arr)))

def resample_mast_data(df: pd.DataFrame, wind_speed_column: str, wind_direction_column: str) -> pd.DataFrame:
    df_resampled = pd.DataFrame()
    df_copy = df.copy()

    # Resampling wind speed
    df_copy = df_copy.resample('1H').mean()
    df_resampled[wind_speed_column] = df_copy[wind_speed_column]

    # Resampling wind direction
    df_copy = df.copy()
    df_copy = df_copy.resample('1H').apply(circmean_aggregation)
    df_resampled[wind_direction_column] = df_copy[wind_direction_column]

    return df_resampled


data_mast_riose_resampled = resample_mast_data(data_mast_riose, 'ws77', 'wd77')
data_mast_borglum_resampled = resample_mast_data(data_mast_borglum, 'ws32', 'wd32')

In [ ]:
data_mast_riose_resampled

                         ws77        wd77
time
1995-11-20 16:00:00  3.467500  204.000076
1995-11-20 17:00:00  5.216667  201.003152
1995-11-20 18:00:00  6.288333  202.833228
1995-11-20 19:00:00  7.316667  200.166908
1995-11-20 20:00:00  7.943333  197.500508
...                       ...         ...
2007-12-31 19:00:00  6.366667    0.000000
2007-12-31 20:00:00  8.723333    0.000000
2007-12-31 21:00:00  8.430000    0.000000
2007-12-31 22:00:00  8.136667    0.000000
2007-12-31 23:00:00  6.966667    0.000000

[106184 rows x 2 columns]

In [ ]:
data_mast_borglum_resampled

                               ws32        wd32
time
1998-01-13 13:00:00+01:00  3.290000  122.000000
1998-01-13 14:00:00+01:00  4.086667  117.166764
1998-01-13 15:00:00+01:00  5.401667  118.825192
1998-01-13 16:00:00+01:00  6.010000  126.500000
1998-01-13 17:00:00+01:00  5.968333  143.336435
...                             ...         ...
2001-12-31 18:00:00+01:00  3.265000  324.167518
2001-12-31 19:00:00+01:00  2.093333  343.663164
2001-12-31 20:00:00+01:00  2.753333   36.960202
2001-12-31 21:00:00+01:00  1.811667  103.185827
2001-12-31 22:00:00+01:00  2.025000  172.140190

[34762 rows x 2 columns]

In [ ]:
# Converting timestamp strings to datetime
data_meso_risoe['TIMESTAMP'] = pd.to_datetime(data_meso_risoe['TIMESTAMP'])
data_meso_borglum['TIMESTAMP'] = pd.to_datetime(data_meso_borglum['TIMESTAMP'])

In [ ]:
risoe_overlapping_timestamps = []

meso_risoe_timestamps = set(data_meso_risoe['TIMESTAMP'].values)
mast_risoe_timestamps = set(data_mast_risoe.index.values)

for ts in meso_risoe_timestamps:
    if ts not in mast_risoe_timestamps:
        continue
    risoe_overlapping_timestamps.append(ts)

risoe_overlapping_timestamps = pd.Series(risoe_overlapping_timestamps)

risoe_data = pd.DataFrame()
# data_mast_risoe[data_mast_risoe.index.isin(risoe_overlapping_timestamps)]
for ts in risoe_overlapping_timestamps:
    mast_row = data_mast_risoe.loc[ts][['wd77', 'ws77']]
    meso_row = data_meso_risoe[data_meso_risoe['TIMESTAMP'] == ts][['WSP77']]
    combined = pd.concat(mast_row, meso_row, axis=0)
    risoe_data.loc[ts] = combined
risoe_data

C:\Users\Bruger\AppData\Local\Temp\ipykernel_18840\2079548683.py:16: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version. Use a timezone-aware object instead.
  mast_row = data_mast_risoe.loc[ts][['wd77', 'ws77']]

KeyError: "None of [Index(['WSP77'], dtype='object')] are in the [columns]"

In [ ]:
data_meso_risoe_overlap

In [ ]:
data_mast_risoe_resampled_overlap